registry=https://tfs.realdolmen.com/tfs/Traviata/_packaging/CRMPDU_Feed/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 8/10/2020.
; begin auth token
//tfs.realdolmen.com/tfs/Traviata/_packaging/CRMPDU_Feed/npm/registry/:username=CRMPDU_Feed
//tfs.realdolmen.com/tfs/Traviata/_packaging/CRMPDU_Feed/npm/registry/:_password=ZW1vcHRxdGY0M2lhM2RpY2k2YWpnNzRreWdxemltNnB4Z3hscHlieG5ueXNtMnQzNGZ3YQ==
//tfs.realdolmen.com/tfs/Traviata/_packaging/CRMPDU_Feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//tfs.realdolmen.com/tfs/Traviata/_packaging/CRMPDU_Feed/npm/:username=CRMPDU_Feed
//tfs.realdolmen.com/tfs/Traviata/_packaging/CRMPDU_Feed/npm/:_password=ZW1vcHRxdGY0M2lhM2RpY2k2YWpnNzRreWdxemltNnB4Z3hscHlieG5ueXNtMnQzNGZ3YQ==
//tfs.realdolmen.com/tfs/Traviata/_packaging/CRMPDU_Feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token